<html> 
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<title>Documento sin título</title> 
</head> 

<body> 
<script language="javascript"> 
function mostrar() 
{ 
    var reg_1=document.getElementById("reg_1"); 
    var reg_2=document.getElementById("reg_2"); 
    var reg_3=document.getElementById("reg_3"); 

    document.write( 
    "<table cellpadding='5' cellspacing='0' border='1'>" + 
    "<tr><td>Registro 1</td><td>Registro 2</td><td>Registro 3</td></tr>"+ 
    "<tr><td>"+'holas'+"</td><td>"+reg_2.value+"</td><td>"+reg_3.value+"</td></tr></table>" 
    ); 
} 
</script> 
<form> 
Registro 1   
  <input type="text" id="reg_1"/><br /><br /> 
Registro 2  
<input type="text" id="reg_2"/><br /><br /> 
Registro 3  
<input type="text" id="reg_3"/><br><br /> 
<script type="text/javascript">
	mostrar()
</script>
</form> 
</body> 

</html>  